/* Style for entire body */
body {
    background-color: blanchedalmond;
    color: black;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* style for buttons */
button {
    color: black;
    background-color: rgb(0, 191, 255);
    border-style: double;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

/* Hover style for buttons */
button:hover {
    background-color: aqua;
}

/* Alignment for header class */
.homePage {
    margin-bottom: 10px;
    padding: 10px;
    height: auto;
    text-align: center;
    background-color: rgb(245, 233, 143);
}

/* Alignment for Viewhighscore button and timer */
#viewScore,
#goBack,
#clock {
    float: right;
    display: block;
    margin-right: 50px;
    margin-bottom: 20px;
}

/* style for instructions/guidelines section */
.guide {
    text-align: center;
    margin-top: 3cm;
    margin-bottom: 2cm;
}

/* style for startquiz button */
#quizbtn {
    text-align: center;
}

/* Style to hide others section on home page */
.questionSection, .displayHigh, .resultSection {
    display: none;
    margin-top: 50px;
    margin-left: 20px;
}


#clock, #goBack{
    display: none;
}




#opt1, #opt2, #opt3, #opt4 {
    display: block ;
    margin-bottom: 10px;
}